{{ define "main" }}

{{/* Breadcrumbs */}}

{{ partial "breadcrumbs.html" . }}

<div {{ if .Param "autonumber" }} class="autonumber" {{ end }}>

  <div class="single-intro-container">

    {{/* Title and Summary */}}

    <h1 class="single-title">{{ .Title }}</h1>

    <p class="single-readtime">
      {{ with .Date }}
      {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := . | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      {{end}}
    </p>

  </div>

  {{/* Page content */}}

  <br>
  <div class="single-content">
    {{ .Content }}
  </div>

  {{/* Next prev controls */}}

  <!--{{ if not (.Param "hidePagination") }}-->
  <!--{{ partial "pagination-single.html" . }}-->
  <!--{{ end }}-->

  {{/* Back to top */}}

  {{ if not (.Param "hideBackToTop") }}
  <div class="back-to-top">
    <a href="#top">
      back to top
    </a>
  </div>
  {{ end }}


{{ partial "footer.html" . }}
</div>

{{ end }}
