@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(/fonts/jetbrains-mono-latin-500-normal.woff2) format("woff2"),
    url(/fonts/jetbrains-mono-latin-500-normal.woff) format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    url(/fonts/jetbrains-mono-latin-500-italic.woff2) format("woff2"),
    url(/fonts/jetbrains-mono-latin-500-italic.woff) format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    url(/fonts/merriweather-latin-500-normal.woff2) format("woff2"),
    url(/fonts/merriweather-latin-500-normal.woff) format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    url(/fonts/merriweather-latin-500-italic.woff2) format("woff2"),
    url(/fonts/merriweather-latin-500-italic.woff) format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: bold;
  font-display: swap;
  font-weight: 700;
  src:
    url(/fonts/merriweather-latin-700-normal.woff2) format("woff2"),
    url(/fonts/merriweather-latin-700-normal.woff) format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    url(/fonts/merriweather-latin-700-italic.woff2) format("woff2"),
    url(/fonts/merriweather-latin-700-italic.woff) format("woff");
}
