html {
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather", SystemUI;
  font-optical-sizing: auto;
  margin: auto;
  max-width: var(--main-width);
  padding-left: var(--main-padding);
  padding-right: var(--main-padding);
  color: var(--content-primary);
  background: var(--background);
}

.content {
  min-height: var(--content-height) !important;
}

h1 {
  margin-top: var(--h1-margin-top);
  margin-bottom: var(--h1-margin-bottom);
  font-size: var(--h1-font-size);
  font-style: bold !important;
}

h2 {
  margin-top: var(--h2-margin-top);
  margin-bottom: var(--h2-margin-bottom);
  font-size: var(--h2-font-size);
}

h3,
h4,
h5,
h6 {
  font-size: var(--hx-font-size);
  margin-top: var(--hx-margin-top);
  margin-bottom: var(--hx-margin-bottom);
}

p {
  margin-top: var(--p-margin-top);
  margin-bottom: var(--p-margin-bottom);
  font-size: var(--p-font-size) !important;
  line-height: var(--p-line-height);
  text-align: justify;
}

ul {
  margin-top: var(--ul-margin-top);
  margin-bottom: var(--ul-margin-bottom);
  font-size: var(--p-font-size);
}

li {
  margin-left: var(--li-indent);
}

a {
  text-decoration: underline;
}

.more {
  font-size: 0.9rem;
  text-decoration: none;
}
/* Code blocks */

.copy-code-button {
  background-color: var(--code-block-background);
  font-family: monospace;
  padding: 3px 6px;
  font-size: 0.8em;
  border-radius: var(--code-border-radius);
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: none;
  border: 1px solid var(--code-border);
}

pre:hover .copy-code-button {
  display: block;
}
pre {
  position: relative;
  padding: var(--code-padding);
  border: 1px solid var(--code-border);
  overflow: scroll;
  border-radius: var(--code-border-radius);
  margin-top: var(--code-margin-top);
  margin-bottom: var(--code-margin-bottom);
  background-color: var(--code-block-background) !important;
  /* background-color: var(--code-background) !important; */
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  line-height: 1.4em;
}

pre::-webkit-scrollbar {
  display: none;
}

code span {
  display: inline !important;
}

code {
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-variant-ligatures: contextual;
  font-family: "Jetbrains Mono", monospace;
  font-size: 0.9em;
  line-height: 0;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.katex-display::-webkit-scrollbar {
  display: none;
}

/* Footnotes */

.footnotes {
  margin-top: 3rem;
  border-style: none;
}

hr {
  border: none;
  height: 1px;
  background: var(--content-secondary);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Header */

.header {
  padding-top: var(--header-top-gap);
  margin-bottom: var(--header-bottom-gap);
}

.header p {
  margin-top: var(--header-menu-top-gap);
  margin-right: var(--header-menu-side-gap);
}

.header-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-family: "Jetbrains Mono", monospace;
}

/* Posts list  */

.post-line {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  display: flex;
  align-items: baseline;
}

.tag-line {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: baseline;
}

.post-line p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.line-date {
  font-family: "Merriweather", monospace;
  font-size: 0.9rem;
  text-align: start;
  margin-bottom: 0.5rem;
  display: inline-flex;
  justify-content: start;
  color: var(--content-secondary);
}
.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 2;
}

.line-title {
  margin: 0;
  font-size: 1.1rem;
}

/*default for all links*/
a {
  color: var(--a-color);
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.small a {
  color: var(--color-primary);
  font-size: 0.9rem;
}

.small a:hover {
  text-decoration: underline;
  color: var(--a-color);
}

.tag-title {
  margin: 0;
}

.line-summary {
  font-size: small;
  margin-top: 0.2rem !important;
  /* font-style: italic; */
  color: var(--content-secondary);
}

/*.list-container {*/
/*  padding-bottom: 1rem;*/
/*}*/

.pagination {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0rem;
  justify-content: center;
}

.pagination-control {
  min-width: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  align-items: center;
}

.page-number {
  min-width: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Social Icons */

.social-icons {
  padding: 12px 0;
  margin-bottom: var(--social-icons-bottom-margin);
}

.social-icons a {
  text-decoration: none;
  color: var(--content-primary);
}
.social-icons a:hover {
  color: var(--a-color);
}

.social-icons a:not(:last-of-type) {
  margin-inline-end: 12px;
}

.social-icons a svg {
  height: 20px;
  width: 20px;
}

/* Single post page */

.single-intro-container {
  margin-top: 1rem;
}

.single-title {
  margin-bottom: 0.5rem;
}

.single-readtime {
  display: flex;
  flex-direction: column;
  font-family: "Merriweather";
  margin-top: 0.5rem;
  color: var(--content-secondary);
}

.single-summary {
  margin-bottom: 0;
  font-size: 0.9rem;
  color: var(--content-secondary);
}

.single-content {
  margin-bottom: 5rem;
  font-size: 1.1rem;
}
.single-content > p {
  font-size: 1rem;
}

.single-tags {
  margin-top: -1rem;
  font-size: 0.9rem;
}

.single-tags span {
  margin-right: 0.3rem;
}

/* Single pagination */

.single-pagination {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.single-pagination a {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.single-pagination hr {
  margin: 0;
}

.single-pagination-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.single-pagination-text a {
  color: var(--content-primary);
  font-size: 1rem;
}

.single-pagination-prev {
  min-width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: right;
}

.single-pagination-next {
  min-width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.single-pagination-container-next {
  display: flex;
  min-height: 100%;
  padding: 0.5rem;
}

.single-pagination-container-prev {
  display: flex;
  min-height: 100%;
  padding: 0.5rem;
  float: right;
}

/* Table of contents */

.toc {
  font-size: var(--p-font-size);
  line-height: calc(0.9 * var(--p-line-height));
  margin-top: var(--toc-margin-top);
  margin-bottom: var(--toc-margin-bottom);
}

.toc ul {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

font-style: italic;
.toc li {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

/* Autonumbering */

.autonumber {
  counter-reset: h2-counter 0;
}

.autonumber h2 {
  counter-increment: h2-counter 1;
  counter-reset: h3-counter 0;
}

.autonumber h3 {
  counter-increment: h3-counter 1;
  counter-reset: h4-counter 0;
}

.autonumber h4 {
  counter-increment: h4-counter 1;
}

.autonumber h2:before {
  content: counter(h2-counter) "\00a0\00a0";
}

.autonumber h3:before {
  content: counter(h2-counter) "." counter(h3-counter) "\00a0\00a0";
}

.autonumber h4:before {
  content: counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter)
    "\00a0\00a0";
}

/* images */

.dark .img-light {
  display: none !important;
}

.light .img-dark {
  display: none !important;
}

.img-small div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-small img {
  scale: 80%;
}

.img-full div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-full img {
  width: 100vw !important;
  max-width: 100vw !important;
}

.caption-container {
  display: flex;
  justify-content: center;
}

figcaption {
  color: var(--content-secondary);
  padding-left: var(--caption-padding);
  padding-right: var(--caption-padding);
  font-size: var(--caption-font-size);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* 404 */

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found div {
  text-align: center;
}

.not-found div h1 {
  font-size: 6rem;
  margin-bottom: 3rem;
}

/* breadcrumbs */

.breadcrumbs {
  font-size: 0.8em;
  margin-bottom: calc(-0.5 * var(--h1-margin-top));
}
.breadcrumbs a {
  color: var(--content-secondary);
  text-decoration: underline;
}

/* Back to top */

.back-to-top {
  text-align: center;
  font-size: small;
  margin-bottom: 0.5rem;
  font-family: "Jetbrains Mono", monospace;
}

/* Code in paragraphs */

p code,
li code {
  background-color: var(--code-background);
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 6px;
}

/* Tables */

table {
  border-collapse: collapse;
  margin-top: var(--table-margin-top);
  margin-bottom: var(--table-margin-bottom);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  color: var(--content-primary);
}

th,
td {
  padding: var(--table-cell-padding);
  border: 1px solid var(--code-border);
  text-align: left;
}

th {
  background-color: var(--code-background);
  font-weight: bold;
}

table code {
  background-color: var(--code-background);
  border-radius: 3px;
  padding: 2px;
}

/* Quotes */

blockquote {
  margin: auto 1.1rem;
  border-left: solid 1px;
  font-style: italic;
  color: rgb(117, 117, 117);
}

blockquote p {
  margin-left: 1rem;
  margin-right: 1rem;
}
