:root {
  --main-width: 780px;
  --main-padding: 1.4em;
  --main-padding-bottom: 3rem;

  --caption-padding: calc(0.25 * var(--main-padding));

  /* header settings */
  --header-top-gap: 2rem;
  --header-bottom-gap: 2rem;
  --header-menu-side-gap: 0.5rem;
  --header-menu-top-gap: 1rem;

  /* Typography */
  --h1-margin-top: 2rem;
  --h1-margin-bottom: 1.5rem;
  --h2-margin-top: 1.5rem;
  --h2-margin-bottom: 1rem;
  --hx-margin-top: 1.5rem;
  --hx-margin-bottom: 1rem;
  --p-margin-top: 1rem;
  --p-margin-bottom: 1rem;
  --code-margin-top: 2rem;
  --code-margin-bottom: 2rem;

  --h1-font-size: 2.2rem;
  --h2-font-size: 1.8rem;
  --hx-font-size: 1.5em;
  --p-font-size: 1.3rem;
  --p-line-height: 1.6em;
  --caption-font-size: 0.8em;

  /* List indentation */
  --li-indent: 1.5rem;
  --ul-margin-top: 1rem;
  --ul-margin-bottom: 1rem;

  --toc-margin-top: 2rem;
  --toc-margin-bottom: 3rem;

  /* Code */
  --code-padding: 1.5rem;
  --code-border-radius: 5px;
  --copy-code-button-border-radius: 7px;

  /* Social section */
  --social-icons-bottom-margin: 1.3rem;

  /* Footer */
  --footer-height: 2rem;

  /* Content */
  --content-height: calc(100vh - var(--footer-height));

  /* Tables */
  --table-cell-padding: 0.5rem;
  --table-margin-top: 1.5rem;
  --table-margin-bottom: 1.5rem;
}

@media screen and (max-width: 1024px) {
  :root {
    --main-width: 750px;
    --header-top-gap: 1rem;
    --caption-padding: calc(0.25 * var(--main-padding));
  }
}

@media screen and (max-width: 640px) {
  :root {
    --header-top-gap: 1rem;
    --social-icons-bottom-margin: 0rem;
    --caption-padding: calc(2 * var(--main-padding));
  }
}
